<div class="relative h-dvh w-full overflow-hidden font-cool">
  <div class="relative z-20 ">
    <app-navbar />
    <div class=" flex flex-col justify-center items-center">
      <h1 class="text-header font-extrabold text-zinc-900/90 ">SEKMED</h1>
      <a  routerLink="/" class="bg-zinc-900/90 animate-pulse rounded-full text-5xl px-4 py-2 text-white hover:bg-zinc-100 hover:text-zinc-800">Get Started</a>
    </div>
  </div>
  <iframe
    class="absolute inset-0 z-0 "
    width="100%"
    height="100%"
    src="https://my.spline.design/webstackframertemplatebackground-a39aee81f9dbcc8f25c2ea90c3135a36/"
    frameborder="0"
  ></iframe>


</div>
